
.header {
    grid-area: h;
    background-color: green;
    border-radius: 20px;
  }
  .header img {
    width: 20px;
    padding: 20px;
    
  }
  .blockRight  {
    float: right;
    padding: 10px 20px 0px 0px;
  }
  .blockRight  a {
    color: #fff;
  }